
[submodule "version2/SimpleRcScanner"]
	path = version2/SimpleRcScanner
	url = https://github.com/sui77/SimpleRcScanner.git
[submodule "version2/rc-switch"]
	path = version2/rc-switch
	url = https://github.com/sui77/rc-switch.git
